@mixin template($when, $count){
    @if $when == 0px {
        margin: 0 $count;
    } @else {
        @media screen and (max-width: $when){
            margin: 0 $count;
        }
    }
}

@mixin grid-temp($one, $two, $three){
    display: grid;

    @if $three == 0px {
        grid-template-columns: $one $two;
    } @else {
        grid-template-columns: $one $two $three;
    }
}

@mixin flexin($flexin){
    display: flex;
    justify-content: $flexin;
}

@mixin border($where, $count, $clr){
    border-#{$where}: $count solid $clr;
}

@mixin ptSans($weight){
    font-family: 'PT Sans', sans-serif;
    font-weight: $weight;
}
@mixin ptGot($weight){
    font-family: 'Gotham Pro', sans-serif;
    font-weight: $weight;
}
@mixin variableColumns($count, $size){
    display: grid;
    grid-template-columns: repeat($count, $size);
}

@mixin margins-template($up, $right, $bottom){
    margin: $up $right $bottom;
}

@mixin flex-column($col){
    display: flex;
    flex-direction: $col;
}

@mixin arrow($clr, $height, $width, $degBefore, $degAfter, $topBefore, $topAftore, $leftBefore, $leftAftore){
    &:before{
        transform: rotate($degBefore);
        content: "";
        height: $height;
        width: $width;
        position: absolute;
        top: $topBefore;
        left: $leftBefore;
        background: $clr;
        transition: .2s ease-out all;
    }
    &:after{
        transform: rotate($degAfter);
        content: "";
        height: $height;
        width: $width;
        position: absolute;
        top: $topAftore;
        left: $leftAftore;
        background: $clr;
        transition: .2s ease-out all;
    }
}
