$palepurpp: #848ccf;
$paleblue: #93b5e1;
$purpp: #bd5583;
$ocean: #e7eff8;
$grey: #585757;
$blu: #84B6E3;
//Кегли
$regFz: 18px;
$bigFz: 24px;
$mini: 16px;
$tiny: 14px;
$tablet: 768px;
$mobile: 576px;
$minimob: 350px;
