.admin-review-card{
    .wrap-admin-review-card{
        display: grid;
        grid-template-columns: 200px 300px;
        grid-column-gap: 32px;
        .order-cl{
            button{
                width: 100%;
                margin-bottom: 8px;
            }
            .review-text{
                height: 300px;
                display: flex;
                flex-direction: column;
                textarea{
                    height: 300px !important;
                    text-align: left !important;
                    line-height: 1.5;
                    overflow-y: scroll;
                    @extend %scrollbar;
                }
            }
        }
    }
}
