.admin-product-card-header{
    @include grid-temp(400px, 0.5fr, 300px);
    justify-content: space-between;
    .card-name{
        font-size: 14px;
        color: $grey;
        text-transform: uppercase;
        @include ptSans(400);
    }
    .wrap-card-header{
        @include flexin(space-between);
    }
    .admin-btn-complete{
        justify-self: right;
        grid-column: 3;
    }
}
.admin-product-card-desc{
    margin-bottom: 100px;
    @include grid-temp(290px, 200px, 460px);
    justify-content: space-between;
    .wrap-card-price, .wrap-card-desc, .wrap-card-sizes{
        h1{
            margin-bottom: 15px;
        }
    }
    .wrap-card-desc{
        textarea{
            height: 135px;
            padding: 15px;
            resize: none;
            @extend %scrollbar;
        }
    }
    .wrap-card-price{
        input{
            padding: 5px 15px;
            &:nth-child(2){
                margin-bottom: 14px;
            }
        }
    }
    .wrap-card-sizes{
        @include grid-temp(50%, 50%, 0px);
        grid-column-gap: 30px;
        .size-grid{
            .wrap-size-grid{
                @include variableColumns(4, 40px);
                grid-template-rows: 40px;
                grid-column-gap: 14px;
                grid-row-gap: 8px;
                margin-bottom: 5px;
                height: 134px;
                overflow-x: hidden;
                overflow-y: scroll;
                @extend %scrollbar;
                &::-webkit-scrollbar
                {
                    width: 5px;
                    background-color: $palepurpp;
                }
                span{
                    background-color: $ocean;
                    @include ptSans(400);
                    color: $grey;
                    height: 40px;
                    text-align: center;
                    padding-top: 11px;
                    box-sizing: border-box;
                    cursor: pointer;
                }
            }
        }
        .wrap-newsize{
            input{
                padding: 5px 15px;
                appearance: none;
            }
            button{
                cursor: pointer;
            }
            &-add{
                display: flex;
                margin-bottom: 23px;
            }
        }
    }
}
.admin-product-photos-rew{
    @include flexin(space-between);
    form{
        width: fit-content;
    }
    .admin-photos{
        display: flex;
        .uploaded-content{
            position: relative;
            #video-admin{
                position: absolute;
                left: 5px;
                top: 5px;
                width: 3%;
            }
            @include variableColumns(5, 57px);
            height: 105px;
            overflow-x: hidden;
            overflow-y: scroll;
            grid-row-gap: 3px;
            margin-bottom: 22px;
            video{

            }
            @extend %scrollbar;
            &::-webkit-scrollbar
            {
                width: 5px;
                background-color: $palepurpp;
            }
            img, video{
                width: 50px;
                height: 50px;
                border: 1px solid $blu;
                cursor: pointer;
            }
        }
        .wrap-load{
            width: 280px;
            label{
                text-align: center;
                box-sizing: border-box;
                padding: 6px;
                cursor: pointer;
                margin-bottom: 10px;
                img{
                    transform: none;
                    top: 3px;
                    position: relative;
                    margin-left: 10px;
                }
            }
        }
        button{
            width: 280px;
            margin-bottom: 10px;
        }
        .admin-main-photo{
            border: 1px solid $blu;
            position: relative;
            margin-left: 10px;
            height: 300px;
            width: 300px;
            .admin-main-photo-selected{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
            video{
                height: 100%;
                width: 100%;
            }
            svg{
                position: absolute;
                left: 15px;
                top: 15px;
                width: 12%;
            }
            .admin-delete-photo{
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
        }
    }
    .admin-reviews{
        width: 370px;
        height: 310px;
        overflow: hidden;
        .users-reviews{
            @extend %scrollbar;
            &::-webkit-scrollbar
            {
                width: 5px;
                background-color: $palepurpp;
            }
        }
        .review{
            @include flexin(space-between);
            .review-wrap{
                display: flex;
            }
            img{
                object-fit: contain;
                margin: 0 10px;
                cursor: pointer;
            }
        }
        .review-text{
            width: 297px;
            height: 150px;
            overflow: hidden;
            overflow-y: scroll;
            @extend %scrollbar;
            &::-webkit-scrollbar
            {
                width: 5px;
                background-color: $palepurpp;
            }
        }
    }
}
#loadImg, #loadVid{
    width: 0;
    height: 0;
}
