.admin-categories{
    @include flexin(space-between);
    ul{
        @extend %ul;
    }
    .btn-add-3-lvl{
        margin-left: 44px;
    }
    .btn-add-2-lvl{
        margin-left: - 55px;
    }
    li{
        cursor: pointer;
        input{
            display: inline-block;
            margin-bottom: 5px;
            cursor: pointer;
            position: relative;
            height: 40px;
            box-sizing: border-box;
            button{
                position: absolute;
                right: 0;
                top: 0;
                background: #fff;
                cursor: pointer;
                &:before{
                    left: 5px;
                }
                &:after{
                    left: 15px;
                }
            }
            .admin-btn-arrow-pass{
                &:before{
                    left: 14px;
                    top: 12px;
                }
                &:after{
                    left: 14px;
                    top: 22px;
                }
            }
        }
    }
    .admin-menu-category, .admin-menu-depart{
        padding-left: 55px;
    }
    .admin-categories-change, .admin-categories-fields{
        @include flex-column(column);
    }
    .wrap-inp-btn{
        @include flexin(space-between);
        input{
            margin-bottom: 8px;
            text-overflow: unset;
        }
    }
    .admin-categories-fields{
        .input-transp-p{
            &:nth-child(2){
                margin-bottom: 20px;
            }
        }
    }
    .wrap-admin-choose-category{
        margin-bottom: 8px;
    }
    .admin-h3{
        display: block;
    }
    .admin-btn-complete{
        margin-bottom: 20px;
    }
}

