@import "setup/variables";
@import "setup/mixins";
@import "basics/template";
@import "basics/classes";
@import "components/header";
@import "components/footer";
@import "views/catalog";
@import "components/sidebar";
@import "components/pagination";
@import "~normalize-scss/sass/normalize";
@import "components/sortbread";
@import "views/catalog_item";
@import "views/home";
@import "views/contacts";
@import "views/pay";
@import "views/delivery";
@import "views/login";
@import "views/registration";
@import "views/reset";
@import "views/cart";
@import "views/order";
@import "views/ChooseDelivery";
@import "views/ChoosePay";
@import "views/PaySuccess";
@import "views/bookmark";
@import "views/cabinet";
@import "views/retunproduct";

// Админ часть
@import "admin/components/adminsidebar";
@import "admin/components/adminheader";
@import "admin/views/admin-category";
@import "admin/views/admin-products";
@import "admin/views/admin-productcard";
@import "admin/views/admin-main";
@import "admin/components/admincrumbs";
@import "admin/views/delivery-vars";
@import "admin/views/admin-orders";
@import "admin/views/admin-ordercard";
@import "admin/views/admin-users";
@import "admin/views/admin-reviews";
@import "admin/views/admin-reviewcard";
html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Black.eot');
    src: local('Gotham Pro Black'), local('GothamPro-Black'),
    url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Black.woff') format('woff'),
    url('../fonts/GothamPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'PtSans-Regular';
    src: url('../fonts/PtSans-Regular.eot');
    src: url('../fonts/PtSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PtSans-Regular.woff') format('woff'),
    url('../fonts/PtSans-Regular.ttf') format('truetype'),
    url('../fonts/PtSans-Regular.svg#pt_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PtSans-Bold';
    src: url('../fonts/PTS75F-webfont.eot');
    src: url('../fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTS75F-webfont.woff') format('woff'),
    url('../fonts/PTS75F-webfont.ttf') format('truetype'),
    url('../fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@include normalize();

