.pagination{
    @include flexin(center);
   padding: 0;
    margin: 0 0 55px;
    list-style: none;
    ul{
        font-size: $regFz + 4px;
        @include flexin(center);
        list-style: none;
    }
    .this-page{
        @include ptSans(400);
        color: #000;
    }
    .next-page{
        @include ptSans(700);
        color: $paleblue;
        a{
            color: $paleblue;
        }
    }
    .pages{
        @include ptSans(700);
        color: $paleblue;
        margin: 0 25px;
    }
}
