@import "../setup/variables";
@import "../setup/extends";

.bread{
    @include grid-temp(1fr, 2fr, 1fr);
    @include ptSans(400);
    padding: 30px 0 40px;
}
.crumbs{
    @include ptSans(400);
    ul{
        @extend %ul;
        @include flexin(center);
        li{
            margin-right: 15px;
            color: $grey;
            &:not(:last-child){
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    @include border(right, 1.7px, $grey);
                    top: 0;
                    right: -7.5px;
                    height: 100%;
                }
            }
            &:last-child{
                a{
                    color: #000;
                }
            }
            a{
                color: $grey;
                text-decoration: none;
                font-size: $regFz;
            }
        }
    }
}
.sort{
    label{
        display: flex;
        align-items: center;
        margin-right: 5px;
    }
    form{
        @include flexin(flex-end)
    }
    select{
        font-size: $regFz - 2px;
        border: none;
        background-color: unset;
        color: $palepurpp;
        cursor: pointer;
        option{
            color: $palepurpp;
        }
    }
}
@media screen and (max-width: $tablet) {
    .bread{
        padding: 20px 0 20px;
    }
    .wrap-bread{
        background-color: $paleblue;
        height: 61px;
        box-sizing: border-box;
    }
    .sort{
        grid-column: 2;
        label{
            color: #fff;
        }
        select{
            @include ptSans(700);
            color: #fff;
        }
        form{
            justify-content: flex-start;
        }
    }
    .filter-icon{
        @include flexin(flex-end);
        svg{
            cursor: pointer;
        }
    }
}
@media screen and (max-width: $mobile) {
    .crumbs{
        ul{
            li{
                a{
                    font-size: $tiny;
                    white-space: nowrap;
                }
            }
        }
    }
}
