@import url(https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;

700&display=swap);.container {
  margin: 0 60px;
}

.grid-nav-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-nav-bottom {
  display: grid;
  grid-template-columns: 0px 1fr;
}

.flexin-center {
  display: flex;
  justify-content: center;
}

.width-300 {
  width: 300px;
}

.width-500 {
  width: 500px;
}

.width-600 {
  width: 600px;
}

.width-700 {
  width: 700px;
}

.width-800 {
  width: 800px;
}

.width-900 {
  width: 900px;
}

.width-1000 {
  width: 1000px;
}

.width-default {
  width: 100%;
}

.active-top-menu {
  padding-bottom: 3px;
  border-bottom: 3px solid #fff;
}

.unactive-top-menu {
  padding-bottom: 0 !important;
  border-bottom: none !important;
}

.active-catg {
  background-color: #e7eff8;
  position: relative;
}

.active-catg:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  background-color: #e7eff8;
  z-index: -1;
}

.active-catg a {
  color: #848ccf !important;
}

.sale {
  color: #bd5583 !important;
}

.gender-h {
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.active-size {
  background-color: #848ccf !important;
}

.through-line {
  text-decoration: line-through;
  color: #585757;
  font-size: 17px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.sale-price {
  color: #bd5583;
}

.filled {
  fill: #bd5583;
}

.clicked-pic {
  border: 1px solid #848ccf !important;
}

.video-pic {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.video-pic:after {
  content: url(/images/icon_cam.svg?4cdf039a93be89a25d4e6947a353f32b);
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
}

.btn {
  background-color: #bd5583;
  border: none;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.fill-svg {
  fill: #bd5583 !important;
  transition: all ease-in-out 0.2s;
  transform: scale(1.5);
}

.owl-nav {
  position: absolute;
  top: 50%;
  width: 110%;
  left: -5%;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

.owl-nav:hover {
  background: none;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  font-size: 0 !important;
}

.owl-nav .owl-prev {
  height: 9px;
  width: 46px;
  position: relative;
  transform: rotate(90deg);
  cursor: pointer;
  background: none !important;
  margin: 0;
}

.owl-nav .owl-prev:before {
  transform: skew(0deg, 35deg);
  content: "";
  height: 45%;
  width: 48%;
  position: absolute;
  top: 10px;
  left: 0%;
  background: #93b5e1;
}

.owl-nav .owl-prev:after {
  transform: skew(0deg, -35deg);
  content: "";
  height: 45%;
  width: 48%;
  position: absolute;
  top: 10px;
  left: 48%;
  background: #93b5e1;
}

.owl-nav .owl-next {
  height: 9px;
  width: 46px;
  position: relative;
  transform: rotate(270deg);
  cursor: pointer;
  background: none !important;
  margin: 0;
}

.owl-nav .owl-next:before {
  transform: skew(0deg, 35deg);
  content: "";
  height: 45%;
  width: 48%;
  position: absolute;
  top: 10px;
  left: 0%;
  background: #93b5e1;
}

.owl-nav .owl-next:after {
  transform: skew(0deg, -35deg);
  content: "";
  height: 45%;
  width: 48%;
  position: absolute;
  top: 10px;
  left: 48%;
  background: #93b5e1;
}

.home-baner {
  margin: 0 230px;
}

.fl-reverse {
  flex-direction: row-reverse;
}

.h-30 {
  text-align: center;
  font-size: 28px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.h-30-ease {
  text-align: center;
  font-size: 28px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.classic-input {
  background: none;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #585757;
  border-bottom: 2px solid #848ccf;
  margin-bottom: 40px;
  height: 35px;
  width: 315px;
  box-sizing: border-box;
}

.classic-input::-moz-placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #585757;
  text-transform: uppercase;
}

.classic-input:-ms-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #585757;
  text-transform: uppercase;
}

.classic-input::-ms-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #585757;
  text-transform: uppercase;
}

.classic-input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #585757;
  text-transform: uppercase;
}

.link-first {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  color: #848ccf;
  text-align: center;
}

.link-sec {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  color: #93b5e1;
  text-align: center;
  margin-top: 45px;
}

.added-links {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.h1-m80 {
  margin: 80px 0 80px;
}

.classic-btn-sz {
  width: 315px;
  height: 50px;
}

.h1-bold-grey {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #585757;
  text-transform: uppercase;
  text-align: center;
}

.h1-m50 {
  margin-top: 50px;
}

.back {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 26px;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
}

.black {
  color: #000;
}

.black:before {
  transform: skew(45deg, -40deg);
  content: "";
  height: 3.5px;
  width: 16.5px;
  position: absolute;
  top: 7px;
  left: 0px;
  background: #000;
}

.black:after {
  transform: skew(-45deg, 40deg);
  content: "";
  height: 3.5px;
  width: 16.5px;
  position: absolute;
  top: 18px;
  left: 0px;
  background: #000;
}

.grey {
  color: #585757;
}

.grey:before {
  transform: skew(45deg, -40deg);
  content: "";
  height: 3.5px;
  width: 16.5px;
  position: absolute;
  top: 7px;
  left: 0px;
  background: #585757;
}

.grey:after {
  transform: skew(-45deg, 40deg);
  content: "";
  height: 3.5px;
  width: 16.5px;
  position: absolute;
  top: 18px;
  left: 0px;
  background: #585757;
}

.chozenImg {
  background-color: #e7eff8;
  border-bottom: 7px solid #bd5583 !important;
}

.chozen-imgs {
  display: flex;
  justify-content: space-between;
  margin: 55px 0;
}

.chozen-imgs img {
  -o-object-fit: contain;
     object-fit: contain;
  border-bottom: 7px solid transparent;
  cursor: pointer;
  padding: 10px;
}

.crumbs ul,
.pagination ul,
.catalog-sidebar ul,
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-cards::-webkit-scrollbar-track,
.delivery-text::-webkit-scrollbar-track,
.item-pics::-webkit-scrollbar-track {
  background-color: #93b5e1;
}

.cart-cards::-webkit-scrollbar,
.delivery-text::-webkit-scrollbar,
.item-pics::-webkit-scrollbar {
  width: 18px;
  background-color: #848ccf;
}

.cart-cards::-webkit-scrollbar-thumb,
.delivery-text::-webkit-scrollbar-thumb,
.item-pics::-webkit-scrollbar-thumb {
  background-color: #848ccf;
}

.registration form .check-agree input,
.sidebar-sale input {
  background-color: #e7eff8;
  padding: 15px 0;
  width: 56.8px;
  height: 48.4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

nav .menu-top {
  background-color: #848ccf;
  padding: 30px 0 20px;
}

nav .nav-search .search {
  display: flex;
  width: 188px;
}

nav .nav-search .search input {
  background-color: #848ccf;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  font-size: 20px;
  width: 100%;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

nav .nav-search .search input::-moz-placeholder {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

nav .nav-search .search input:-ms-input-placeholder {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

nav .nav-search .search input::-ms-input-placeholder {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

nav .nav-search .search input::placeholder {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

nav .nav-search .search label {
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

nav .logo {
  text-transform: uppercase;
}

nav .logo a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  position: relative;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 700;
}

nav .logo a:before {
  content: "";
  position: absolute;
  width: 33px;
  height: 6px;
  background-color: #fff;
  right: -43px;
  top: 35%;
}

nav .logo a:after {
  content: "";
  position: absolute;
  width: 33px;
  height: 6px;
  background-color: #fff;
  left: -43px;
  top: 35%;
}

nav .nav-icons {
  display: flex;
  justify-content: flex-end;
}

nav .nav-icons .nav-icons-items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 170px;
}

nav .nav-icons .nav-icons-items li {
  display: flex;
}

nav .nav-icons .nav-icons-items li a img {
  width: 100%;
}

nav .menu-middle {
  background-color: #93b5e1;
  display: flex;
  justify-content: center;
  padding: 27px 0;
}

nav .genders {
  display: flex;
  justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

nav .genders li a {
  color: #fff;
  text-decoration: none;
}

nav .menu-wrap {
  position: relative;
}

nav .menu-bottom {
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  position: absolute;
  width: 100%;
  z-index: 1;
}

nav .menu-bottom .menu-categories {
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
}

nav .menu-bottom .menu-categories li {
  text-align: right;
  padding: 15px 30px 15px 0;
}

nav .menu-bottom .menu-categories li a {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  position: relative;
}

nav .menu-bottom .menu-categories li a:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 100%;
  top: 0;
  right: -30px;
}

nav .menu-bottom .menu-departments {
  background-color: #e7eff8;
  padding-left: 50px;
  padding-top: 20px;
}

nav .menu-bottom .menu-departments li:not(:first-child) {
  padding: 10px 0 0;
}

nav .menu-bottom .menu-departments li:first-child {
  padding: 15px 0 0;
}

nav .menu-bottom .menu-departments li a {
  text-decoration: none;
  font-size: 16px;
  color: #585757;
}

footer {
  background-color: #848ccf;
  padding: 75px 0 30px;
}

footer .footer {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 270px;
}

footer .footer dl {
  margin: 0;
}

footer .footer dd {
  margin-left: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

footer .footer dd:not(:last-child) {
  margin-bottom: 20px;
}

footer .footer dt {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 40px;
}

footer .footer a {
  color: #fff;
  text-decoration: none;
}

footer .bottom-foot {
  grid-column: 1/3;
  color: #fff;
  margin-top: 70px;
  width: 100%;
  text-align: center;
}

footer .bottom-foot span {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
}

footer .bottom-foot span:nth-child(1) {
  margin-right: 3%;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 55px;
}

.catalog-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}

.catalog-items .item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.catalog-items .item a {
  display: flex;
  justify-content: center;
}

.catalog-items .item-title {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin: 15px 0;
  font-size: 16px;
}

.catalog-items .item-price {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #848ccf;
  font-size: 20px;
}

.crumbs ul,
.pagination ul,
.catalog-sidebar ul,
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-cards::-webkit-scrollbar-track,
.delivery-text::-webkit-scrollbar-track,
.item-pics::-webkit-scrollbar-track {
  background-color: #93b5e1;
}

.cart-cards::-webkit-scrollbar,
.delivery-text::-webkit-scrollbar,
.item-pics::-webkit-scrollbar {
  width: 18px;
  background-color: #848ccf;
}

.cart-cards::-webkit-scrollbar-thumb,
.delivery-text::-webkit-scrollbar-thumb,
.item-pics::-webkit-scrollbar-thumb {
  background-color: #848ccf;
}

.registration form .check-agree input,
.sidebar-sale input {
  background-color: #e7eff8;
  padding: 15px 0;
  width: 56.8px;
  height: 48.4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.catalog-sidebar {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.catalog-sidebar a {
  color: #000;
  text-decoration: none;
}

.catalog-sidebar .sidebar-category > li {
  margin-bottom: 20px;
}

.catalog-sidebar .sidebar-category > li:nth-child(1) {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.catalog-sidebar .sidebar-category > li:nth-child(1) span {
  color: #000;
}

.catalog-sidebar .sidebar-category > li:last-child {
  margin-bottom: 55px;
}

.catalog-sidebar .sidebar-depart li {
  margin-bottom: 20px;
}

.catalog-sidebar .sidebar-depart li a {
  color: #585757;
}

.catalog-sidebar .sidebar-depart li:nth-child(1) {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.sidebar-sizing {
  margin-bottom: 55px;
}

.sidebar-sizing span {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: inline-block;
}

.sidebar-sizing form {
  width: 230px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.sidebar-sizing form input {
  color: #000;
  background-color: #e7eff8;
  border: none;
  padding: 15px;
  cursor: pointer;
}

.sidebar-price {
  margin-bottom: 55px;
}

.sidebar-price .price {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: inline-block;
}

.sidebar-price form {
  width: 210px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 15px;
}

.sidebar-price form input {
  padding: 10px 0;
  background-color: #e7eff8;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
}

.sidebar-price form label,
.sidebar-price form span {
  align-self: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
}

.sidebar-sale form {
  display: flex;
  justify-content: space-between;
  width: 235px;
}

.sidebar-sale label {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #bd5583;
  text-transform: uppercase;
  margin: auto 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
}

.pagination ul {
  font-size: 22px;
  display: flex;
  justify-content: center;
}

.pagination .this-page {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #000;
}

.pagination .next-page {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #93b5e1;
}

.pagination .next-page a {
  color: #93b5e1;
}

.pagination .pages {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #93b5e1;
  margin: 0 25px;
}

.crumbs ul,
nav ul,
.catalog-sidebar ul,
.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-cards::-webkit-scrollbar-track,
.delivery-text::-webkit-scrollbar-track,
.item-pics::-webkit-scrollbar-track {
  background-color: #93b5e1;
}

.cart-cards::-webkit-scrollbar,
.delivery-text::-webkit-scrollbar,
.item-pics::-webkit-scrollbar {
  width: 18px;
  background-color: #848ccf;
}

.cart-cards::-webkit-scrollbar-thumb,
.delivery-text::-webkit-scrollbar-thumb,
.item-pics::-webkit-scrollbar-thumb {
  background-color: #848ccf;
}

.registration form .check-agree input,
.sidebar-sale input {
  background-color: #e7eff8;
  padding: 15px 0;
  width: 56.8px;
  height: 48.4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.bread {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  padding: 30px 0 40px;
}

.crumbs {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.crumbs ul {
  display: flex;
  justify-content: center;
}

.crumbs ul li {
  margin-right: 15px;
  color: #585757;
}

.crumbs ul li:not(:last-child) {
  position: relative;
}

.crumbs ul li:not(:last-child):after {
  content: "";
  position: absolute;
  border-right: 1.7px solid #585757;
  top: 0;
  right: -7.5px;
  height: 100%;
}

.crumbs ul li:last-child a {
  color: #000;
}

.crumbs ul li a {
  color: #585757;
  text-decoration: none;
  font-size: 18px;
}

.sort label {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.sort form {
  display: flex;
  justify-content: flex-end;
}

.sort select {
  font-size: 16px;
  border: none;
  background-color: unset;
  color: #848ccf;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.sort select option {
  color: #848ccf;
}

.user-info .user-stars svg {
  width: 30px;
  height: 30px;
}

.item-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 30px;
  text-align: center;
}

.item-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 70px;
  height: 515px;
}

.item-pics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-x: hidden;
  overflow-y: scroll;
}

.item-pics .item-pic {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.item-pics .item-pic img {
  cursor: pointer;
  border: 1px solid transparent;
  cursor: pointer;
}

.item-main-pic {
  position: relative;
}

.item-main-pic .main-icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.item-main-pic .main-icons svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: #93b5e1;
  margin-bottom: 5px;
}

.item-main-pic img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

#cameraImPic {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  fill: #848ccf;
}

.item-main-info {
  display: flex;
  justify-content: flex-end;
}

.item-main-info .item-main-price {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 36px;
  margin-bottom: 40px;
}

.item-main-info .sizes {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.item-main-info .item-main-sizes {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 100px;
}

.item-main-info .item-main-sizes button {
  color: #000;
  background-color: #e7eff8;
  border: none;
  padding: 15px;
  cursor: pointer;
}

.item-main-info .item-buttons {
  display: flex;
  flex-direction: column;
}

.btn-cart {
  border: 1px solid #bd5583;
  background: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  padding: 15px 22px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.btn-cart svg {
  fill: #bd5583;
  width: 30px;
  height: 30px;
}

.btn-buynow {
  padding: 15px 22px;
  height: 50px;
  box-sizing: border-box;
}

.item-description p {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.boldinfo {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
}

.item-review h1 {
  text-align: center;
  font-size: 33px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  margin: 60px 30px;
}

.review-wrap {
  display: grid;
  grid-template-columns: 75% 20%;
  grid-column-gap: 5%;
}

.review-wrap .review-user {
  margin-bottom: 60px;
}

.review-wrap .review-user .user-info {
  margin-bottom: 30px;
}

.review-wrap .review-user .user-info .user-stars {
  display: inline-block;
  margin-right: 15px;
  vertical-align: sub;
}

.review-wrap .review-user .user-info .user-stars:nth-child(5) {
  margin-right: 45px;
}

.review-wrap .review-user .user-info .user-name {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.review-wrap .review-user .user-info .user-date {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.review-wrap .review-user .user-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.review-wrap .review-leave {
  display: flex;
  flex-direction: column;
}

.review-wrap .review-leave .leave-stars {
  display: grid;
  grid-template-columns: 75% 20%;
  margin-bottom: 30px;
}

.review-wrap .review-leave .leave-stars .stars {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.review-wrap .review-leave .leave-stars span svg {
  height: 30px;
  width: 30px;
}

.review-wrap .review-leave .leave-stars .star-amount {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.review-wrap .review-leave .leave-stars .star-amount span {
  margin: auto;
}

.leave-btn {
  background-color: #93b5e1;
  color: #fff;
  font-size: 18px;
  height: 50px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.slide-wrap {
  display: flex;
  flex-direction: column;
}

.slide-wrap span {
  text-align: center;
}

.slide-wrap img {
  -o-object-fit: cover;
     object-fit: cover;
}

.home-baner {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 30px;
}

.home-baner img {
  -o-object-fit: contain;
     object-fit: contain;
}

.home-baner .baner-block {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #93b5e1;
  padding: 55px 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.home-baner .baner-block h1 {
  margin: 0 0 50px;
  font-size: 50px;
}

.home-baner .baner-block h2 {
  margin: 0 0 20px;
  font-size: 30px;
}

.home-baner .baner-block h3 {
  margin: 0 0 70px;
  font-size: 20px;
}

.home-baner .baner-block button {
  margin: 0 100px;
  padding: 20px 25px;
  font-size: 20px;
  cursor: pointer;
}

.home-conveyor {
  margin-top: 50px;
}

.home-conveyor:last-child {
  margin-bottom: 80px;
}

.home-conveyor .home-slider h1 {
  margin: 0 0 45px;
}

.home-conveyor .home-slider .slide-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 20px 0 10px;
}

.home-conveyor .home-slider .slide-price {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #848ccf;
}

.sale-baner {
  display: flex;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.sale-baner .baner {
  background-color: #93b5e1;
  padding: 63px 0;
  display: flex;
  flex-direction: column;
}

.sale-baner .baner h1 {
  margin: 0;
  font-size: 36px;
}

.sale-baner .baner-title {
  text-align: center;
  margin-bottom: 30px;
}

.sale-baner .baner span {
  font-size: 36px;
}

.sale-baner .baner-sale {
  text-align: center;
}

.sale-baner .baner-sale .sale-was {
  text-decoration: line-through;
  font-size: 24px;
  margin-bottom: 20px;
}

.sale-baner .baner-sale .sale-now {
  font-size: 50px;
  margin-bottom: 80px;
}

.sale-baner .baner button {
  padding: 20px 40px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  margin: 0 80px;
  font-size: 20px;
}

.contacts {
  margin: 0 270px 100px;
}

.contacts h1 {
  margin: 80px 0 45px;
}

.contacts form {
  display: grid;
  grid-template-columns: 315px 315px;
  grid-column-gap: 140px;
  justify-content: center;
}

.contacts form button {
  height: 50px;
}

.contacts form .contact {
  display: flex;
  flex-direction: column;
}

.contacts form textarea {
  border: 2px solid #848ccf;
  height: 190px;
  resize: none;
  padding: 2%;
  width: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #585757;
}

.call,
.mail {
  margin-bottom: 80px;
}

.call svg,
.mail svg {
  margin-right: 35px;
}

.call a,
.mail a {
  color: #000;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.call a svg,
.mail a svg {
  height: 46px;
}

.pay {
  margin: 0 270px 100px;
}

.pay h1 {
  margin-top: 80px;
}

.pay h2 {
  font-size: 26px;
  margin: 50px 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.pay-icons {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #848ccf;
  border-bottom: 3px solid #848ccf;
}

.pay-icons img {
  -o-object-fit: contain;
     object-fit: contain;
}

.delivery {
  margin: 0 270px 60px;
}

.delivery h1 {
  margin: 80px 0 50px;
}

.delivery-icons {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #848ccf;
  border-bottom: 3px solid #848ccf;
  padding: 30px 0;
  margin-bottom: 70px;
}

.delivery-icons img {
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.delivery-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  height: 150px;
  overflow: hidden;
  overflow-y: scroll;
}

.delivery-text h3 {
  margin: 0 0 30px;
  font-weight: 400 !important;
}

.login {
  margin: 0 270px 100px;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration {
  margin: 0 270px 100px;
}

.registration form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration form .check-agree {
  width: 315px;
  display: flex;
  margin-bottom: 40px;
}

.registration form .check-agree input {
  width: 21%;
  margin-right: 20px;
}

.registration form .check-agree label {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px -7px;
  text-align: right;
  width: 100%;
  line-height: 1.5;
}

.reset {
  margin: 0 270px 100px;
}

.reset form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cart-head svg {
  width: 45px;
  height: 30px;
  fill: #bd5583;
}

.cart-head h1 {
  margin: 0;
  display: flex;
  justify-content: center;
}

.cart-cards {
  height: 650px;
  overflow: hidden;
  overflow-y: scroll;
  transform: scale(-1);
  display: flex;
  flex-direction: column-reverse;
  margin: 60px 0;
}

.cart-cards .card {
  display: grid;
  grid-template-columns: 1fr 2.5fr 0.5fr;
  grid-column-gap: 10px;
  transform: rotate(179.5deg);
  margin-bottom: 50px;
}

.cart-cards .card-img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.cart-cards .card-info {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.cart-cards .card-info .card-name {
  font-size: 24px;
  margin-bottom: 40px;
}

.cart-cards .card-info .card-counts {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom: 40px;
}

.cart-cards .card-info .card-counts span {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #93b5e1;
}

.cart-cards .card-info .card-counts .card-amount {
  display: flex;
}

.cart-cards .card-info .card-counts .card-amount span {
  margin: auto 10px;
  display: inline-flex;
}

.cart-cards .card-info .card-counts .card-amount .change-amount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.cart-cards .card-info .card-counts .card-amount .change-amount:before {
  content: "";
  height: 1.5px;
  width: 14.5px;
  position: absolute;
  top: 13px;
  left: -2px;
  background: #585757;
}

.cart-cards .card-info .card-counts .card-amount .change-amount button {
  background: none;
  border: none;
  cursor: pointer;
}

.cart-cards .card-info .card-counts .card-amount .change-amount button:first-child {
  position: relative;
}

.cart-cards .card-info .card-counts .card-amount .change-amount button:first-child:before {
  transform: rotate(-45deg);
  content: "";
  height: 2.5px;
  width: 10.5px;
  position: absolute;
  top: 5px;
  left: -3.5px;
  background: #585757;
}

.cart-cards .card-info .card-counts .card-amount .change-amount button:first-child:after {
  transform: rotate(45deg);
  content: "";
  height: 2.5px;
  width: 10.5px;
  position: absolute;
  top: 5px;
  left: 3.5px;
  background: #585757;
}

.cart-cards .card-info .card-counts .card-amount .change-amount button:last-child {
  position: relative;
}

.cart-cards .card-info .card-counts .card-amount .change-amount button:last-child:before {
  transform: rotate(45deg);
  content: "";
  height: 2.5px;
  width: 10.5px;
  position: absolute;
  top: -5px;
  left: -3.5px;
  background: #585757;
}

.cart-cards .card-info .card-counts .card-amount .change-amount button:last-child:after {
  transform: rotate(-45deg);
  content: "";
  height: 2.5px;
  width: 10.5px;
  position: absolute;
  top: -5px;
  left: 3.5px;
  background: #585757;
}

.cart-cards .card-close {
  position: relative;
}

.cart-cards .card-close .close-btn {
  height: 10.5px;
  width: 20.5px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.cart-cards .card-close .close-btn:before {
  transform: rotate(-45deg);
  content: "";
  height: 3.5px;
  width: 20.5px;
  background: #585757;
  position: absolute;
}

.cart-cards .card-close .close-btn:after {
  transform: rotate(45deg);
  content: "";
  height: 2.5px;
  width: 20.5px;
  background: #585757;
  position: absolute;
}

.cart-total {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.cart-total .total-price {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-right: 30px;
}

.cart-total .total-price span {
  color: #93b5e1;
}

.order-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.order h1 {
  margin: 0;
  display: flex;
  justify-content: center;
}

.order .order-from {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 100px;
}

.chozen-delivery-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.chozen-delivery-header h1 {
  margin: 0;
}

.chozen-delivery-fill {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 25px;
  margin-bottom: 100px;
}

.chozen-delivery-btn {
  grid-column: 1/3;
  justify-self: center;
}

.chozen-delivery-text p {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 26px;
  margin: 0 0 60px;
}

.chozen-delivery-price {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 20px;
}

.chozen-delivery-price span {
  color: #848ccf;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.chozen-delivery-total {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 34px;
}

.chozen-delivery-total span {
  color: #848ccf;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.choose-pay-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.choose-pay-header h1 {
  margin: 0;
}

.choose-pay-button {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.pay-success h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.pay-success-number {
  color: #848ccf;
}

.pay-success-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin: 0 0 100px;
  font-size: 28px;
  text-align: center;
}

.bookmark-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.bookmark-header svg {
  width: 45px;
  height: 30px;
  fill: #bd5583;
}

.bookmark-header h1 {
  margin: 0 0 60px;
  display: flex;
  justify-content: center;
}

.bookmark-text {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 100px;
}

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Gotham Pro";
  src: url(/fonts/GothamPro-Black.eot?3309bc970fb9a0c54595de5973a365e9);
  src: local("Gotham Pro Black"), local("GothamPro-Black"), url(/fonts/GothamPro-Black.eot?3309bc970fb9a0c54595de5973a365e9) format("embedded-opentype"), url(/fonts/GothamPro-Black.woff?d563ad87622a3dfeea9ff9ee22678caa) format("woff"), url(/fonts/GothamPro-Black.ttf?efb0c02a5dbe65a7115b477e74c7a661) format("truetype");
  font-weight: 900;
  font-style: normal;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */

main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */

button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */

input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */

menu {
  display: block;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

