.width-300{
    width: 300px;
}
.width-500{
    width: 500px;
}
.width-600{
    width: 600px;
}
.width-700{
    width: 700px;
}
.width-800{
    width: 800px;
}
.width-900{
    width: 900px;
}
.width-1000{
    width: 1000px;
}
.width-default{
    width: 100%;
}

.active-top-menu{
    padding-bottom: 3px;
    border-bottom: 3px solid #fff;
}
.unactive-top-menu{
    padding-bottom: 0 !important;
    border-bottom: none !important;
}
.active-catg{
    background-color: $ocean;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        background-color: $ocean;
        z-index: -1;
        @media screen and (max-width: $tablet) {
            content: none;
        }
    }
    @media screen and (max-width: $tablet) {
        background-color: #ffff !important;
    }
    a{
        color: $palepurpp !important;
    }
}
.sale{
    color: $purpp !important;
}
.gender-h{
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    @include ptSans(700);
    margin-bottom: 20px;
}
.active-size{
    background-color: $palepurpp !important;
}

.through-line{
    text-decoration: line-through ;
    color: $grey;
    font-size: $regFz - 1px;
    @include ptSans(400);
}
.sale-price{
    color: $purpp;
}
.filled{
    fill: $purpp;
}
.clicked-pic{
    border: 1px solid $palepurpp !important;
}
.video-pic{
    position: relative;
    width: fit-content;
    &:after{
        content: url("../../img/icon_cam.svg");
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        right: 0;
    }
}
.btn{
    background-color: $purpp;
    border: none;
    color: #fff;
    @include ptSans(700);
    text-transform: uppercase;
    cursor: pointer;
}
.fill-svg{
    fill: $purpp !important;
    transition: all ease-in-out .2s;
    transform: scale(1.5);
}
.owl-nav{
    position: absolute;
    top: 50%;
    width: 110%;
    left: -5%;
    display: flex;
    justify-content: space-between;
    z-index: -1;
    @media screen and (max-width: 1400px) {
        width: 125%;
        left: -12.5%;
    }
    &:hover{
        background: none;
    }
    .owl-prev, .owl-next{
        font-size: 0 !important;
    }
    .owl-prev{
        height: 9px;
        width: 46px;
        position: relative;
        transform: rotate(90deg);
        cursor: pointer;
        background: none !important;
        margin: 0;
        &:before{
            transform: skew(0deg, 35deg);
            content: "";
            height: 45%;
            width: 48%;
            position: absolute;
            top: 10px;
            left: 0%;
            background: $paleblue;
        }
        &:after{
            transform: skew(0deg, -35deg);
            content: "";
            height: 45%;
            width: 48%;
            position: absolute;
            top: 10px;
            left: 48%;
            background: $paleblue;
        }
    }
    .owl-next{
        height: 9px;
        width: 46px;
        position: relative;
        transform: rotate(270deg);
        cursor: pointer;
        background: none !important;
        margin: 0;
        &:before{
            transform: skew(0deg, 35deg);
            content: "";
            height: 45%;
            width: 48%;
            position: absolute;
            top: 10px;
            left: 0%;
            background: $paleblue;
        }
        &:after{
            transform: skew(0deg, -35deg);
            content: "";
            height: 45%;
            width: 48%;
            position: absolute;
            top: 10px;
            left: 48%;
            background: $paleblue;
        }
    }
}
.home-baner{
    margin: 0 230px;
    @media screen and (max-width: 1200px) {
        margin: 0 170px;
    }
}
.fl-reverse{
    flex-direction: row-reverse;
}
.h-30{
    text-align: center;
    font-size: $bigFz + 4px;
    @include ptSans(700);
    text-transform: uppercase;
    @media screen and (max-width: $mobile) {
        font-size: $regFz;
    }
}
.h-30-ease{
    text-align: center;
    font-size: $bigFz + 4px;
    @include ptSans(400);
}

.classic-input{
    background: none;
    border: none;
    @include ptSans(400);
    font-size: $regFz;
    color: $grey;
    border-bottom: 2px solid $palepurpp;
    margin-bottom: 40px;
    height: 35px;
    width: 315px;
    box-sizing: border-box;
    &::placeholder{
        @include ptSans(400);
        font-size: $regFz;
        color: $grey;
        text-transform: uppercase;
    }
}
.small-invalid{
    @include ptSans(700);
    font-size: $regFz - 4px;
    color: $purpp;
    margin-top: 10px;
}

.link-first{
    text-decoration: none;
    @include ptSans(700);
    text-transform: uppercase;
    font-size: $regFz + 2px;
    color: $palepurpp;
    text-align: center;
}
.link-sec{
    text-decoration: none;
    @include ptSans(700);
    text-transform: uppercase;
    font-size: $regFz + 2px;
    color: $paleblue;
    text-align: center;
    margin-top: 45px;
}
.added-links{
    margin-top: 60px;
    @include flex-column(column);
    align-self: center;
    @media screen and (max-width: $mobile) {
        a{
            font-size: $regFz;
        }
    }
}

.h1-m80{
    margin: 80px 0 80px;
    @media screen and (max-width: $tablet) {
        margin: 26px 0 40px;
    }
}

.classic-btn-sz{
    width: 315px;
    height: 50px;
    @media screen and (max-width: $mobile) {
        height: 40px;
    }
}
.h1-bold-grey{
    @include ptSans(700);
    font-size: $bigFz + 4px;
    color: $grey;
    text-transform: uppercase;
    text-align: center;
}
.h1-m50{
    margin-top: 50px;
    @media screen and (max-width: $tablet) {
        margin-top: 23px;
    }
}

.back{
    @include ptSans(400);
    font-size: $bigFz + 2px;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    @media screen and (max-width: $mobile) {
        font-size: 16px;
    }
}
.black{
    color: #000;
    &:before{
        transform: skew(45deg, -40deg);
        content: "";
        height: 3.5px;
        width: 16.5px;
        position: absolute;
        top: 7px;
        left: 0px;
        background: #000;
    }
    &:after{
        transform: skew(-45deg, 40deg);
        content: "";
        height: 3.5px;
        width: 16.5px;
        position: absolute;
        top: 18px;
        left: 0px;
        background: #000;
    }
}
.grey{
    color: $grey;
    &:before{
        transform: skew(45deg, -40deg);
        content: "";
        height: 3.5px;
        width: 16.5px;
        position: absolute;
        top: 7px;
        left: 0px;
        background: $grey;
    }
    &:after{
        transform: skew(-45deg, 40deg);
        content: "";
        height: 3.5px;
        width: 16.5px;
        position: absolute;
        top: 18px;
        left: 0px;
        background: $grey;
    }
    @media screen and (max-width: $mobile) {
        &:before{
            height: 3.5px;
            width: 12.5px;
            top: 4px;
            left: 9px;
        }
        &:after{
            height: 3.5px;
            width: 12.5px;
            top: 12px;
            left: 8px;
        }
    }
}
.chozenImg{
    background-color: $ocean;
    border-bottom: 7px solid $purpp !important;
}
.chozen-imgs{
    @include flexin(space-between);
    margin: 55px 0;
    img{
        object-fit: contain;
        @include border(bottom, 7px, transparent);
        cursor: pointer;
        padding: 10px;
    }
}

.cabinet-h{
    @include ptSans(700);
    font-size: $regFz;
    text-transform: uppercase;
    display: flex;
}
.active-input{
    border-bottom: 1px solid $grey !important;
}

.active-arrow-cab{
    @include arrow($purpp, 3.5px, 16.5px, 45deg, -45deg, 25px, 25px, 19px, 29px);
    @media screen and (max-width: $mobile) {
        @include arrow($purpp, 3.5px, 13.5px, 45deg, -45deg, 22px, 22px, 10px, 18px);
    }
}
.passive-arrow-cab{
    @include arrow($palepurpp, 3.5px, 16.5px, 45deg, -45deg, 20px, 31px, 27px, 28px);
    @media screen and (max-width: $mobile) {
        @include arrow($palepurpp, 3.5px, 13.5px, 45deg, -45deg, 16px, 24px, 14px, 14px);
    }
}

.active-cart{
    svg{
        fill: $purpp !important;
    }
}
.invalid{
    border-bottom: 2px solid $purpp !important;
}
.input-wrap{
    margin-bottom: 40px;
    @include flex-column(column);
    .classic-input{
        margin-bottom: 0;
    }
    input{
        appearance: none;
    }
    @media screen and (max-width: $tablet) {
        margin-bottom: 26px;
        input{
            width: 100%;
        }
    }
    @media screen and (max-width: $mobile) {
        input{
            font-size: $mini;
            &::placeholder{
                font-size: $mini;
            }
        }
    }
}
.error-log{
    @include ptSans(700);
    text-align: center;
    color: $purpp;
    font-size: $regFz;
    margin-bottom: 40px;
}
.show{
    @media screen and (max-width: $tablet) {
        height: 90%;
        padding: 18px 22px;
        transition: .2s all ease-out;
    }
}
.hide{
    @media screen and (max-width: $tablet) {
        height: 0%;
        padding: 0;
        transition: .2s all ease-out;
    }
}
.pale-stroke{
    stroke: $paleblue;
}
.filled-leave{
    stroke: $purpp;
}
.reviewleave-success{
    @include ptSans(700);
    color: $palepurpp;
    font-size: $regFz - 2px;
}

.wrap-h{
    margin: 25px 0 60px;
    @include grid-temp(1fr, 1fr, 1fr);
}

// Админ классы
.active-admin-tab{
    font-family: 'PT Sans', sans-serif !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    color: #fff;
    a{
        text-decoration: none;
    }
}

.admin-h1{
    @include ptSans(700);
    font-size: $regFz;
    text-transform: uppercase;
    margin: 0 0 40px;
}
.admin-h2{
    @include ptSans(700);
    font-size: $regFz;
}
.admin-h3{
    @include ptSans(700);
    font-size: $regFz - 4px;
    margin-bottom: 8px;
}

.input-pale-blu{
    background-color: $ocean;
    color: $grey;
    @include ptSans(400);
    font-size: 14px;
    padding: 15px;
    border: none;
    height: 40px;
    box-sizing: border-box;
}
.input-transp{
    border: 2px solid $blu;
    background: none;
    @include ptSans(400);
    font-size: 14px;
    height: 40px;
    box-sizing: border-box;
    width: 100%;
    text-overflow: ellipsis;
}
.input-transp-p{
    padding: 10px 20px;
}
.btn-admin-arrow{
    border: 2px solid $blu;
    background: none;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    position: relative;
    padding: 15px;
}
.admin-btn-arrow-pass{
    @include arrow($blu, 3.5px, 16.5px, 45deg, -45deg, 11px, 21px, 10px, 10px);
    cursor: pointer;
}
.admin-btn-arrow{
    @include arrow($blu, 3.5px, 16.5px, 45deg, -45deg, 18px, 18px, 5px, 15px);
    cursor: pointer;
}

.admin-btn-complete{
    height: 40px;
    color: #fff;
    background-color: $palepurpp;
    @include ptSans(400);
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.admin-btn-delete{
    border: 2px solid $palepurpp;
    @include ptSans(400);
    text-transform: uppercase;
    color: #000000;
    background: none;
    position: relative;
    height: 40px;
    @include arrow($palepurpp, 5px, 16.5px, 45deg, -45deg, 15px, 15px, 229px, 229px);
}
.admin-btn-add{
    border: 2px solid $palepurpp;
    @include ptSans(400);
    text-transform: uppercase;
    color: #000000;
    background: none;
    position: relative;
    height: 40px;
    display: inherit;
    margin-bottom: 5px;
    cursor: pointer;
    img{
        transform: rotate(45deg);
        margin-left: 10px;
    }
}
.btn-admin-purpp{
    background: $palepurpp;
    border: none;
    height: 40px;
    width: 55px;
    box-sizing: border-box;
}
.unctive-blu-img{
    border: 1px solid $blu;
}
.puprr-border{
    border: 2px solid $purpp !important;
}
.admin-header-side{
    @include flexin(space-between);
}
.admin-cl-lbl-inp{
    margin-bottom: 15px;

    label {
        display: inline-block;
        margin-bottom: 15px;
    }

    input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        height: 40px;
    }
}
.list-cell{
    &:last-child{
        display: flex;
        input{
            margin-right: 8px;
        }
        a{
            display: inherit;
            img{
                object-fit: contain;
            }
        }
    }
    input{
        width: 100%;
    }
}
.weight-status{
    color: $palepurpp;
    @include ptSans(700);
}
.activeSize{
    background-color: $palepurpp !important;
}
.activeNullSize{
    border: 1px solid $purpp;
}
