.width-300{
    width: 300px;
}
.width-500{
    width: 500px;
}
.width-600{
    width: 600px;
}
.width-700{
    width: 700px;
}
.width-800{
    width: 800px;
}
.width-900{
    width: 900px;
}
.width-1000{
    width: 1000px;
}
.width-default{
    width: 100%;
}

.active-top-menu{
    padding-bottom: 3px;
    border-bottom: 3px solid #fff;
}
.unactive-top-menu{
    padding-bottom: 0 !important;
    border-bottom: none !important;
}
.active-catg{
    background-color: $ocean;
    position: relative;

    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        background-color: $ocean;
        z-index: -1;
    }
    a{
        color: $palepurpp !important;
    }
}
.sale{
    color: $purpp !important;
}
.gender-h{
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    @include ptSans(700);
    margin-bottom: 20px;
}
.active-size{
    background-color: $palepurpp !important;
}

.through-line{
    text-decoration: line-through ;
    color: $grey;
    font-size: $regFz - 1px;
    @include ptSans(400);
}
.sale-price{
    color: $purpp;
}
.filled{
    fill: $purpp;
}
.clicked-pic{
    border: 1px solid $palepurpp !important;
}
.video-pic{
    position: relative;
    width: fit-content;
    &:after{
        content: url("../../img/icon_cam.svg");
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        right: 0;
    }
}
.btn{
    background-color: $purpp;
    border: none;
    color: #fff;
    @include ptSans(700);
    text-transform: uppercase;
    cursor: pointer;
}
.fill-svg{
    fill: $purpp !important;
    transition: all ease-in-out .2s;
    transform: scale(1.5);
}
.owl-nav{
    position: absolute;
    top: 50%;
    width: 110%;
    left: -5%;
    display: flex;
    justify-content: space-between;
    z-index: -1;
    &:hover{
        background: none;
    }
    .owl-prev, .owl-next{
        font-size: 0 !important;
    }
    .owl-prev{
        height: 9px;
        width: 46px;
        position: relative;
        transform: rotate(90deg);
        cursor: pointer;
        background: none !important;
        margin: 0;
        &:before{
            transform: skew(0deg, 35deg);
            content: "";
            height: 45%;
            width: 48%;
            position: absolute;
            top: 10px;
            left: 0%;
            background: $paleblue;
        }
        &:after{
            transform: skew(0deg, -35deg);
            content: "";
            height: 45%;
            width: 48%;
            position: absolute;
            top: 10px;
            left: 48%;
            background: $paleblue;
        }
    }
    .owl-next{
        height: 9px;
        width: 46px;
        position: relative;
        transform: rotate(270deg);
        cursor: pointer;
        background: none !important;
        margin: 0;
        &:before{
            transform: skew(0deg, 35deg);
            content: "";
            height: 45%;
            width: 48%;
            position: absolute;
            top: 10px;
            left: 0%;
            background: $paleblue;
        }
        &:after{
            transform: skew(0deg, -35deg);
            content: "";
            height: 45%;
            width: 48%;
            position: absolute;
            top: 10px;
            left: 48%;
            background: $paleblue;
        }
    }
}
.home-baner{
    margin: 0 230px
}
.fl-reverse{
    flex-direction: row-reverse;
}
.h-30{
    text-align: center;
    font-size: $bigFz + 4px;
    @include ptSans(700);
    text-transform: uppercase;
}
.h-30-ease{
    text-align: center;
    font-size: $bigFz + 4px;
    @include ptSans(400);
}

.classic-input{
    background: none;
    border: none;
    @include ptSans(400);
    font-size: $regFz;
    color: $grey;
    border-bottom: 2px solid $palepurpp;
    margin-bottom: 40px;
    height: 35px;
    width: 315px;
    box-sizing: border-box;
    &::placeholder{
        @include ptSans(400);
        font-size: $regFz;
        color: $grey;
        text-transform: uppercase;
    }
}

.link-first{
    text-decoration: none;
    @include ptSans(700);
    text-transform: uppercase;
    font-size: $regFz + 2px;
    color: $palepurpp;
    text-align: center;
}
.link-sec{
    text-decoration: none;
    @include ptSans(700);
    text-transform: uppercase;
    font-size: $regFz + 2px;
    color: $paleblue;
    text-align: center;
    margin-top: 45px;
}
.added-links{
    margin-top: 60px;
    @include flex-column(column);
    align-self: center;
}

.h1-m80{
    margin: 80px 0 80px;
}

.classic-btn-sz{
    width: 315px;
    height: 50px;
}
.h1-bold-grey{
    @include ptSans(700);
    font-size: $bigFz + 4px;
    color: $grey;
    text-transform: uppercase;
    text-align: center;
}
.h1-m50{
    margin-top: 50px;
}

.back{
    @include ptSans(400);
    font-size: $bigFz + 2px;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}
.black{
    color: #000;
    &:before{
        transform: skew(45deg, -40deg);
        content: "";
        height: 3.5px;
        width: 16.5px;
        position: absolute;
        top: 7px;
        left: 0px;
        background: #000;
    }
    &:after{
        transform: skew(-45deg, 40deg);
        content: "";
        height: 3.5px;
        width: 16.5px;
        position: absolute;
        top: 18px;
        left: 0px;
        background: #000;
    }
}
.grey{
    color: $grey;
    &:before{
        transform: skew(45deg, -40deg);
        content: "";
        height: 3.5px;
        width: 16.5px;
        position: absolute;
        top: 7px;
        left: 0px;
        background: $grey;
    }
    &:after{
        transform: skew(-45deg, 40deg);
        content: "";
        height: 3.5px;
        width: 16.5px;
        position: absolute;
        top: 18px;
        left: 0px;
        background: $grey;
    }
}
.chozenDel{
    background-color: $ocean;
    border-bottom: 7px solid $purpp !important;
}
