.admin-main{
    height: 100vh;
}
.main-view{
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-column-gap: 40px;
    height: 100%;
    padding-right: 30px;
}
.admin{
    margin-top: 50px;
}
.admin-main{
    height: 100vh;
}
.header-admin{
    background-color: $palepurpp;
    .header-admin-wrap{
        @include flexin(space-between);
        padding: 30px;
        height: 80px;
        box-sizing: border-box;
    }
    .admin-logo{
        @include ptSans(700);
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
    }
    .admin-img-logo{
        object-fit: contain;
    }
    .admin-logout{
        border: none;
        background: none;
        cursor: pointer;
        @include ptSans(700);
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        padding: 0;
    }
}
