.cart{
    &-head{
        @include grid-temp(1fr, 1fr, 1fr);
        svg{
            width: 45px;
            height: 30px;
            fill: $purpp;
        }
        h1{
            margin: 0;
            @include flexin(center);
        }
    }
    &-cards{
        height: 650px;
        overflow: hidden;
        overflow-y: scroll;
        transform: scale(-1);
        @include flex-column(column-reverse);
        @extend %scrollbar;
        margin: 60px 0;
        .card{
            @include grid-temp(1fr, 2.5fr, 0.5fr);
            grid-column-gap: 10px;
            transform: rotate(179.8deg);
            margin-bottom: 50px;
            &-img{
                img{
                    object-fit: cover;
                    width: 300px;
                    height: 300px;
                }
            }
            &-info{
                @include ptSans(400);
                .card-name{
                    font-size: $bigFz;
                    margin-bottom: 40px;
                }
                .card-counts{
                    @include flexin(space-between);
                    font-size: $bigFz;
                    margin-bottom: 40px;
                    span{
                        @include ptSans(700);
                        color: $paleblue;
                    }
                    .card-amount{
                        display: flex;
                        span{
                            margin: auto 10px;
                            display: inline-flex;
                        }
                        .change-amount{
                            @include flex-column(column);
                            justify-content: space-between;
                            position: relative;
                            &:before{
                                content: "";
                                height: 1.5px;
                                width: 14.5px;
                                position: absolute;
                                top: 13px;
                                left: -2px;
                                background: $grey;
                            }
                            button{
                                background: none;
                                border: none;
                                cursor: pointer;
                                &:first-child{
                                    position: relative;
                                    &:before{
                                        transform: rotate(-45deg);
                                        content: "";
                                        height: 2.5px;
                                        width: 10.5px;
                                        position: absolute;
                                        top: 5px;
                                        left: -3.5px;
                                        background: $grey;
                                    }
                                    &:after{
                                        transform: rotate(45deg);
                                        content: "";
                                        height: 2.5px;
                                        width: 10.5px;
                                        position: absolute;
                                        top: 5px;
                                        left: 3.5px;
                                        background: $grey;
                                    }
                                }
                                &:last-child{
                                    position: relative;
                                    &:before{
                                        transform: rotate(45deg);
                                        content: "";
                                        height: 2.5px;
                                        width: 10.5px;
                                        position: absolute;
                                        top: -5px;
                                        left: -3.5px;
                                        background: $grey;
                                    }
                                    &:after{
                                        transform: rotate(-45deg);
                                        content: "";
                                        height: 2.5px;
                                        width: 10.5px;
                                        position: absolute;
                                        top: -5px;
                                        left: 3.5px;
                                        background: $grey;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &-close{
                position: relative;
                .close-btn{
                    height: 10.5px;
                    width: 20.5px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    &:before{
                        transform: rotate(-45deg);
                        content: "";
                        height: 3.5px;
                        width: 20.5px;
                        background: $grey;
                        position: absolute;
                    }
                    &:after{
                        transform: rotate(45deg);
                        content: "";
                        height: 2.5px;
                        width: 20.5px;
                        background: $grey;
                        position: absolute;
                    }
                }
            }
        }
    }
    &-total{
        @include flexin(center);
        margin-bottom: 70px;
        button{
            position: relative;
            outline: none;
        }
        .total-price{
            @include ptSans(400);
            font-size: 40px;
            margin-right: 30px;
            span{
                color: $paleblue;
            }
        }
    }
    &-no{
        margin-top: 60px;
    }
}
@media screen and (max-width: $tablet) {
    .cart-head{
        h1{
            color: #000;
        }
        .back{
            .grey{
                color: #000;
            }
        }
    }
    .cart-cards{
        margin: 40px 0 0;
        height: auto;
        transform: none;
        overflow: auto;
        flex-direction: column;
        &::-webkit-scrollbar-track{
            background-color: unset;
        }
        &::-webkit-scrollbar{
            width: 0;
            background-color: unset;
        }
        &::-webkit-scrollbar-thumb
        {
            background-color: unset;
        }
        .card{
            transform: none;
            grid-template-columns: 100%;
            .card-name{
                @include ptSans(700);
                font-size: $regFz;
                text-align: center;
                margin-bottom: 15px;
            }
            .card-img{
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
                img{
                    object-fit: contain;
                    width: 325px;
                    height: 325px;
                }
            }
        }
        .card-info{
            .card-counts{
                display: block;
                margin-bottom: 32px;
                .card-size, .card-amount, .card-price{
                    margin-bottom: 20px;
                }
                .card-amount{
                    span{
                        margin: auto 85px;
                    }
                    .change-amount{
                        &:before{
                            content: none;
                        }
                        button{
                            &:first-child{
                                position: absolute;
                                left: -40px;
                                top: 7px;
                                &:before{
                                    transform: rotate(-90deg);
                                    height: 2.5px;
                                    width: 19px;
                                    position: absolute;
                                    top: 5px;
                                    left: -3.5px;
                                    background: $blu;
                                }
                                &:after{
                                    transform: none;
                                    height: 2.5px;
                                    width: 19px;
                                    position: absolute;
                                    top: 5px;
                                    left: -3.5px;
                                    background: $blu;
                                }
                            }
                            &:last-child{
                                position: absolute;
                                left: -150px;
                                top: 15px;
                                &:after{
                                    content: none;
                                }
                                &:before{
                                    transform: none;
                                    content: "";
                                    height: 2.5px;
                                    width: 19px;
                                    position: absolute;
                                    top: -2px;
                                    left: -3.5px;
                                    background: $blu;
                                }
                            }
                        }
                    }
                }
            }
        }
        .card-close{
            grid-row: 1;
            .close-btn{
                top: 50px;
                right: 110px;
                &:before{
                    height: 2.5px;
                    width: 30.5px;
                    color: #CCCCCC;
                }
                &:after{
                    height: 2.5px;
                    width: 30.5px;
                    color: #CCCCCC;
                }
            }
        }
    }
    .cart-total{
        flex-direction: column;
        button{
            margin-top: 16px;
            width: 100%;
        }
        .total-price{
            text-transform: uppercase;
            @include ptSans(700);
            font-size: 30px;
        }
    }
}
@media screen and (max-width: $mobile) {
    .cart-head{
        grid-template-columns: .5fr 2fr .5fr;
        h1{
            font-size: $regFz;
        }
        svg{
            height: 19px;
        }
    }
    .cart-cards{

        .card{
            .card-name{

            }
            .card-img{

                img{

                }
            }
        }
        .card-info{
            .card-counts{

                .card-size, .card-amount, .card-price{
                    font-size: $regFz;
                }
                .card-amount{
                    span{

                    }
                    .change-amount{
                        &:before{

                        }
                        button{
                            &:first-child{
                                top: 2px;
                                &:before{

                                }
                                &:after{

                                }
                            }
                            &:last-child{
                                top: 9px;
                                &:after{

                                }
                                &:before{

                                }
                            }
                        }
                    }
                }
            }
        }
        .card-desc{
            line-height: 36px;
            font-size: $tiny;
        }
        .card-close{
            .close-btn{
                right: 15px;

            }
        }
    }
    .cart-total{

        button{

        }
        .total-price{
            font-size: $bigFz;
        }
    }
}
