
.user-info{
    .user-stars{
        svg{
            width: 30px;
            height: 30px;
        }
    }
}
.item-title{
    @include ptSans(700);
    font-size: $regFz + 6px;
    margin: 0 0 30px;
    text-align: center;
}
.item-info{
    @include grid-temp(1fr, 1fr, 1fr);
    margin-bottom: 70px;
    height: 515px;
}
.item-pics{
    transform: rotate(180deg);
    @include flex-column(column-reverse);
    overflow-x: hidden;
    overflow-y: scroll;
    @extend %scrollbar;
    padding-right: 5px;
    .wrap{
        transform: scale(-1);
        @include grid-temp(1fr, 1fr, 0px);
        grid-row-gap: 16px;
        grid-column-gap: 16px;
        z-index: -11;
    }
    .item-pic{
        position: relative;
        //width: fit-content;
        width: 100%;
        height: 173px;
        img{
            cursor: pointer;
            border: 1px solid transparent;
            width: 173px;
            height: 173px;
            object-fit: cover;
        }
        video{
            width: 173px;
            height: 173px;
            z-index: -1;
            position: absolute;
        }
    }
}
.item-main-pic{
    position: relative;
    .main-icons{
        position: absolute;
        top: 0;
        right: 15px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        svg{
            width: 30px;
            height: 30px;
            cursor: pointer;
            fill: $paleblue;
            margin-bottom: 5px;
        }
    }
    .item-wrap-img{
        height: 515px;
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        transition: all .5s ease-out;
        &:hover{
            cursor: move;
            .normal {
                opacity: 0;
                transform: scale(1.1);
            }
            .plus {
                opacity: 0;
                transform: scale(1.5);
            }
        }
        .img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: white;
            transition: all ease-out .3s;
        }
        .normal {
            z-index: 20;
            background-size: contain;
        }

        img.normal {
            opacity: 0;
            width: 100%;
        }

        .zoom {
            z-index: 10;
            transition: none;
        }
    }
    img{
        object-fit: cover;
        height: 515px;
        width: 100%;
    }
    video{
        position: absolute;
        z-index: -1;
        width: 100%;
    }
}
#cameraImPic{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 5px;
    fill: $palepurpp
}
.item-main-info{
    @include flexin(flex-end);
    .item-main-price{
        @include ptSans(700);
        color: #000;
        font-size: 36px;
        margin-bottom: 40px;
    }
    .sizes{
        @include ptSans(700);
        display: inline-block;
        font-size: $regFz;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .item-main-sizes{
        box-sizing: border-box;
        @include variableColumns(5, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-bottom: 100px;
        button{
            color: #000;
            background-color: $ocean;
            border: none;
            padding: 15px;
            cursor: pointer;
        }
    }
    .item-buttons{
        display: flex;
        flex-direction: column;
    }
}
.btn-cart{
    border: 1px solid $purpp;
    background: none;
    @include ptSans(400);
    font-size: $regFz;
    cursor: pointer;
    padding: 15px 22px;
    height: 50px;
    box-sizing: border-box;
    @include flexin(center);
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    //.spinner-wrap{
    //    width: 98%;
    //    height: 90%;
    //    position: absolute;
    //    background-color: #fff;
    //    left: 1%;
    //}
    svg{
        fill: $purpp;
        width: 30px;
        height: 30px;
        margin-left: 16px;
    }
}
.btn-buynow{
    padding: 15px 22px;
    height: 50px;
    box-sizing: border-box;
}
.item-description{
    p{
        @include ptSans(400);
        font-size: $regFz;
        line-height: 41px;
    }
}
.boldinfo{
    @include ptSans(700);
    text-transform: uppercase;
    font-size: $regFz + 4px;
}
.item-review{
    h1{
        text-align: center;
        font-size: 33px;
        @include ptSans(700);
        margin: 60px 30px;
    }
}
.review-wrap{
    @include grid-temp(75%, 20%, 0px);
    grid-column-gap: 5%;
    .review-user{
        margin-bottom: 60px;
        .user-info{
            margin-bottom: 30px;
            .user-stars{
                display: inline-block;
                margin-right: 15px;
                vertical-align: sub;
                svg{
                    width: 30px;
                    height: 34px;
                }
                &:nth-child(5){
                    margin-right: 45px;
                }
            }
            .user-name{
                @include ptSans(700);
                font-size: $regFz + 6px;
            }
            .user-date{
                @include ptSans(400);
                font-size: $regFz + 6px;
            }
        }
        .user-text{
            @include ptSans(400);
            font-size: $regFz;
            margin: 0;
            line-height: 33px;
        }
    }
    .review-user-no{
        font-size: $bigFz;
        @include ptSans(400);
    }
    .review-leave{
        display: flex;
        flex-direction: column;
        label{
            cursor: pointer;
        }
        .leave-stars{
            @include grid-temp(75%, 20%, 0px);
            margin-bottom: 30px;
            .stars{
                @include variableColumns(5, 1fr);
            }
            span{
                svg{
                    height: 30px;
                    width: 30px;
                }
            }
            .star-amount{
                display: grid;
                grid-template-columns: 1fr;
                font-size: $regFz;
                @include ptSans(400);
                span{
                    margin: auto;
                }
            }
        }
        textarea{
            height: 100px;
            margin-bottom: 30px;
        }
    }
    .reviewleave-stars{
        @include flexin(space-between);
        @include ptSans(400);
        font-size: $regFz;
        margin-bottom: 15px;
        input{
            cursor: pointer;
            width: 0%;
        }
    }
}
.leave-btn{
    background-color: $paleblue;
    color: #fff;
    font-size: $regFz;
    height: 50px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    @media screen and (max-width: $mobile) {
        height: 40px;
        font-size: $mini;
    }
}
.error-add{
    @include ptSans(700);
    font-size: 16px;
    color: $purpp;
    margin: 15px 0;
}
.hideBtn{
    display: none;
}
.item-related-products{
    margin-bottom: 30px;
    .owl-nav{
        width: 105%;
        left: -2.5%;
        @media screen and (max-width: 1090px) {
            width: 108%;
            left: -4.5%;
        }
    }
    h1{
        @include ptSans(700);
        font-size: 33px;
        text-align: center;
        margin: 30px 0;
    }
    .slide-title{
        @include ptSans(400);
        font-size: $mini;
        margin: 20px 0 10px;
    }
    .slide-price{
        @include ptSans(700);
        font-size: $regFz;
        color: $palepurpp;
    }
    .img-container {
        width: 300px;
        height: 300px;
        img{
            object-fit: cover;
            height: 100%;
            cursor: pointer;
        }
    }
}
@media screen and (max-width: $tablet) {
    .catalog-item{
        .bread{
            padding: 28px 0;
            grid-template-columns: 0fr 1fr 0fr;
        }
    }
    .item-info{
        @include variableColumns(1, 100%);
        margin-bottom: 0;
        height: auto;
    }
    .item-pics{
        transform: rotate(0deg);
        display: block;
        overflow: auto;
        margin-bottom: 30px;
        &::-webkit-scrollbar-track{
            background-color: unset;
        }
        &::-webkit-scrollbar{
            width: 0;
            background-color: unset;
        }
        &::-webkit-scrollbar-thumb
        {
            background-color: unset;
        }
        .wrap{
            transform: none;
            display: block;
            .owl-nav{
                width: 100%;
                left: 2.5%;
                z-index: 9999;
                display: flex !important;
            }
        }
        .item-pic{
            position: relative;
            width: auto;
            height: 320px;
            img{
                border: none;
                width: auto;
                height: 320px;
                object-fit: contain;
            }
        }
    }
    .item-main-info{
        display: block;
        .item-main-price{
            margin-bottom: 50px;
            text-align: center;
        }
        .sizes{
            text-transform: none;
        }
        .item-main-sizes{
            grid-template-columns: repeat(auto-fill, minmax(46px, 46px));
            width: 100%;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            margin-bottom: 40px;
            button{
                height: 40px;
                padding: 0;
            }
        }
        .item-buttons{
            margin-bottom: 40px;
        }
    }
    .item-description{
        margin-bottom: 40px;
        span{
            display: block;
            margin-bottom: 30px;
            text-transform: none;
        }
        p{
            line-height: 35px;
            margin: 0;
        }
    }
    .btn-cart{
        justify-content: center;
        svg{
            margin-left: 16px;
        }
    }
    .item-review{
        h1{
            margin: 0;
            text-align: left;
            text-transform: none;
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
    .review-wrap{
        grid-template-columns: 100%;
        .review-leave{
            grid-row: 1;
            flex-direction: column-reverse;
        }
        .review-user-no{
            margin: 0 0 30px;
        }
    }
    .item-related-products{
        .owl-nav{
            width: 100%;
            left: 0;
        }
        h1{
            font-size: 22px;
        }
        .img-container {
            height: 320px;
        }
    }
}
@media screen and (max-width: $mobile) {
    .item-related-products{
        h1{
            font-size: $regFz;
        }
    }
    .item-title{
        font-size: $regFz;
    }
    .catalog-item{
        .bread{

        }
    }
    .item-info{
    }
    .item-pics{

        .wrap{

            .owl-nav{

            }
        }
        .item-pic{

            img{

            }
        }
    }
    .item-main-info{
        .item-main-price{
            font-size: $bigFz;
            color: $paleblue;
        }
        .sizes{
            font-size: $mini;
        }
        .item-main-sizes{
            button{
                height: 40px;
                padding: 0;
            }
        }
        .item-buttons{
            font-size: $mini;
            button{
                padding: 0;
            }
        }
    }
    .item-description{

        span{
            font-size: $mini;
        }
        p{
            font-size: $tiny;
        }
    }
    .btn-cart{
        height: 40px;
        svg{

        }
    }
    .item-review{
        h1{
            font-size: $mini;
        }
    }
    .review-wrap{
        .review-user{
            .user-text{
                font-size: $tiny;
            }
            .user-info{
                .user-name, .user-date{
                    font-size: $mini;
                }
                .user-stars{
                    margin-right: 7px;
                    &:nth-child(5){
                        margin-right: 0;
                    }
                    svg{
                        width: 23px;
                        height: 25px;
                    }
                }
            }
        }
        .review-leave{

        }
        .review-user-no{
            font-size: $mini;
        }
    }
}
