
.catalog{
    @include grid-temp(1fr, 2fr, 0px);
    margin-bottom: 55px;
}
.catalog-items{
    @include grid-temp(1fr, 1fr, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    .item{
        position: relative;
        .icon-cell{
            fill: $paleblue;
            cursor: pointer;
            position: absolute;
        }
        .t-shirt{
            top: 0;
            left: 0;
        }
        .book{
            top: 0;
            right: 0;
        }
        a{
            @include flexin(center);
            img{
                width: 300px;
                height: 300px;
                object-fit: cover;
            }
        }
        &-title{
            text-align: center;
            @include ptSans(400);
            margin: 15px 0;
            font-size: $regFz - 2px;
            line-height: 1.5;
        }
        &-price{
            text-align: center;
            @include ptSans(700);
            color: $palepurpp;
            font-size: $regFz + 2px;
        }
    }
}
.catalog-error{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: $regFz;
}

@media screen and (max-width: $tablet) {
    .catalog{
        grid-template-columns: 100%;
        .bread-mobile{
            padding: 28px 0 20px;
        }
    }
    .catalog-items{
        grid-template-columns: 100%;
        grid-row-gap: 35px;
        .item {
            a {
                img {
                    width: 320px;
                    height: 320px;
                    object-fit: cover;
                }
            }
        }
    }
}
