
.catalog{
    @include grid-temp(1fr, 2fr, 0px);
    margin-bottom: 55px;
}
.catalog-items{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    .item{
        position: relative;
        &-sizes{
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 55px;
            left: 21px;
            span{
                margin-bottom: 12px;
                @include ptSans(400);
                font-size: $tiny;
            }
        }
        .icon-cell{
            fill: $paleblue;
            cursor: pointer;
            position: absolute;
        }
        .t-shirt{
            top: 15px;
            left: 15px;
        }
        .book{
            top: 15px;
            right: 15px;
        }
        a{
            @include flexin(center);
            img{
                width: 300px;
                height: 300px;
                object-fit: cover;
            }
        }
        &-title{
            text-align: center;
            @include ptSans(400);
            margin: 15px 0;
            font-size: $regFz - 2px;
            line-height: 1.5;
        }
        &-price{
            text-align: center;
            @include ptSans(700);
            color: $palepurpp;
            font-size: $regFz + 2px;
        }
    }
}
.catalog-error{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: $regFz;
}
.close-btn-wrap{
    position: absolute;
    top: 0;
    right: 15px;
    .close-btn{
        height: 10.5px;
        width: 20.5px;
        position: relative;
        cursor: pointer;
        &:before{
            transform: rotate(-45deg);
            content: "";
            height: 4px;
            width: 24.5px;
            background: #CCCCCC;
            position: absolute;
        }
        &:after{
            transform: rotate(45deg);
            content: "";
            height: 4px;
            width: 24.5px;
            background: #CCCCCC;
            position: absolute;
        }
    }
}

@media screen and (max-width: $tablet) {
    .catalog{
        grid-template-columns: 100%;
        .bread-mobile{
            padding: 28px 0 20px;
        }
        .wrap-bread{
            grid-template-columns: 0fr 2fr 1fr;
        }
    }
    .catalog-items{
        grid-template-columns: 100%;
        grid-row-gap: 35px;
        .item {
            a {
                img {
                    width: 320px;
                    height: 320px;
                    object-fit: cover;
                }
            }
        }
    }
}
@media screen and (max-width: $mobile) {
    .wrap-bread{
        height: 59px !important;
        .bread{
            grid-template-columns: 0fr 2fr 1fr;
        }
    }
    .sort{
        label{
            font-size: 15px;
        }
        select{
            font-size: $tiny !important;
        }
    }
    .filter-icon{
        svg{
            height: $mini;
        }
    }
}
