.choose-pay{
    &-header{
        @include grid-temp(1fr, 1fr, 1fr);
        h1{
            margin: 0;
        }
    }
    &-button{
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
}
@media screen and (max-width: $tablet) {
    .choose-pay {
        &-header {
            grid-template-columns: 100%;

            .back {
                justify-self: center;
                margin-bottom: 40px;

                .grey {
                    color: #000;
                }
            }

            h1 {
                color: #000;
            }
        }
        &-button{
            button{
                width: 100%;
            }
            margin-bottom: 60px;
        }
        .chozen-imgs{
            margin: 40px 0 0;
        }
    }
}
@media screen and (max-width: $mobile) {
    .choose-pay {
        &-header {
            h1 {
                font-size: 18px;
            }
        }
        &-button{
            button{
                font-size: 14px;
            }
        }
    }
}
