.chozen-delivery{
    .chozen-imgs{
        margin: 55px 0;
    }
    &-header{
        @include grid-temp(1fr, 1fr, 1fr);
        h1{
            margin: 0;
        }
    }
    &-fill{
        @include grid-temp(1fr, 2fr, 0px);
        grid-column-gap: 25px;
        margin-bottom: 100px;
        .comment-postman{
            background: none;
            @include ptSans(400);
            font-size: $regFz;
            color: $grey;
            border: 2px solid $palepurpp;
            margin-bottom: 40px;
            height: 135px;
            width: 315px;
            box-sizing: border-box;
            padding: 5px;
            &::placeholder{
                @include ptSans(400);
                font-size: $regFz;
                color: $grey;
                text-transform: uppercase;
            }
        }
        .input-wrap{
            margin-bottom: 40px;
            @include flex-column(column);
            .classic-input{
                margin-bottom: 0;
            }
        }
        .wrap-checkbox{
            @include flex-column(column);
            align-items: flex-start;
            input{
                width: 40px;
                height: 40px;
                appearance: none;
                background-color: #e7eff8;
                padding: 15px 0;
                cursor: pointer;
                margin-left: 15px;
            }
            input:checked{
                background-color: $palepurpp !important;
            }
            label{
                display: inline-flex;
                @include ptSans(400);
                font-size: 18px;
                color: $grey;
                text-transform: uppercase;
                align-items: center;
                margin-bottom: 30px;
            }
        }
    }
    &-btn{
        grid-column: 1/3;
        justify-self: center;
        margin-top: 50px;
    }
    &-text{
        p{
            @include ptSans(400);
            font-size: $bigFz + 2px;
            margin: 0 0 60px;
        }
    }
    &-price{
        @include ptSans(400);
        font-size: 34px;
        margin-bottom: 20px;
        span{
            color: $palepurpp;
            @include ptSans(700);

        }
    }
    &-total{
        @include ptSans(400);
        font-size: 34px;
        span{
            color: $palepurpp;
            @include ptSans(700);
        }
    }
}
@media screen and (max-width: $tablet) {
    .chozen-delivery {
        &-header {
            grid-template-columns: 100%;
            .back{
                justify-self: center;
                margin-bottom: 40px;
                .grey{
                    color: #000;
                }
            }
            h1{
                color: #000;
            }
        }

    }
    .chozen-imgs{
        flex-direction: column;
        img{
            margin-bottom: 25px;
            height: 100px;
        }
    }
    .chozen-delivery-fill{
        grid-template-columns: 100%;
        margin-bottom: 70px;
        .fill-inputs{
            grid-row: 2;
        }
        .chozen-delivery-text{
            grid-row: 1;
            margin-bottom: 40px;
            p{
                line-height: 40px;
                margin-bottom: 40px;
            }
        }
        .comment-postman{
            width: 100%;
            margin-bottom: 0;
        }
        .wrap-checkbox{
            input{
                border-radius: 0;
                border: none;
            }
            label{
                font-size: $mini;
            }
        }
    }
    .chozen-delivery-price{
        margin-bottom: 10px;
    }
    .chozen-delivery-btn{
        width: 100%;
        grid-column: 1;
        button{
            width: 100%;
        }
    }
}
@media screen and (max-width: $mobile) {
    .chozen-delivery {
        &-header {
            .back{
                .grey{

                }
            }
            h1{

            }
        }

    }
    .chozen-imgs{

        img{

        }
    }
    .chozen-delivery-fill{

        .fill-inputs{

        }
        .chozen-delivery-text{

            p{
                font-size: $tiny;
            }
        }
        .comment-postman{
            width: 100%;
            margin-bottom: 0;
            &::placeholder{
                font-size: $mini;
            }
        }
    }
    .chozen-delivery-price, .chozen-delivery-total{
        font-size: $regFz;
        @include ptSans(700);
    }
    .chozen-delivery-btn{
        width: 100%;
        grid-column: 1;
        button{
            width: 100%;
        }
    }
}
