.contacts{
    @include margins-template(0, 270px, 100px);
    @media screen and (max-width: 1305px) {
        @include margins-template(0, 180px, 100px);
    }
    @media screen and (max-width: 1130px) {
        @include margins-template(0, 100px, 100px);
    }
    @media screen and (max-width: 966px) {
        @include margins-template(0, 50px, 100px);
    }
    h1{
        margin: 80px 0 45px;
    }
    form{
        button{
            height: 50px;
            width: 100%;
        }
        .contact, .email{
            @include grid-temp(315px, 315px, 0px);
            grid-column-gap: 140px;
            justify-content: space-between;
        }
        textarea{
            border: 2px solid $palepurpp;
            height: 187px;
            resize: none;
            padding: 2%;
            width: 100%;
            @include ptSans(400);
            font-size: $regFz;
            color: $grey;
        }
    }
    .wrap-text{
        margin-top: 100px;
        grid-column: 1/3;
        @include ptSans(400);
        font-size: $regFz;
        line-height: 2;
    }
}
.call, .mail{
    margin-bottom: 80px;
    svg{
        margin-right: 35px;
    }
    a{
        color: #000;
        text-decoration: none;
        @include ptSans(700);
        font-size: $bigFz;
        display: flex;
        align-items: center;
        svg{
            height: 46px;
        }
    }
}
@media screen and (max-width: $tablet) {
    .contacts{
        @include template(0px, 26px);
        h1{
            margin: 0;
        }
        form{
            .contact, .email{
                grid-template-columns: 100%;
            }
            .contact{
                margin-bottom: 80px;
            }
            .email{
                input{
                    width: 100%;
                }
                .wrap-email{
                    margin-bottom: 40px;
                }
            }
            textarea{
                box-sizing: border-box;
                margin-bottom: 10px;
            }
        }
        .wrap-text{
            margin-top: 25px;
        }
    }
    .call, .mail {
        margin-bottom: 40px;

        a{
            svg{
                height: 40px;
            }
        }
    }
}
@media screen and (max-width: $mobile) {
    .contacts{
        h1{
        }
        form{
            .contact, .email{
            }
            .contact{

            }
            .email{
                input{

                }
                .wrap-email{

                }
            }
            textarea{

            }
        }
        .wrap-text{
            font-size: $mini;
        }
    }
    .call, .mail {
        margin-bottom: 40px;

        a{
            font-size: $regFz;
            svg{
                height: 40px;
            }
        }
    }
}
