.delivery{
    @include margins-template(0, 180px, 60px);
    @media screen and (max-width: 1280px) {
        @include margins-template(0, 100px, 60px);
    }
    h1{
        margin: 80px 0 50px ;
    }
    &-icons{
        @include flexin(space-between);
        @include border(top, 3px, $palepurpp);
        @include border(bottom, 3px, $palepurpp);
        padding: 30px 0;
        margin-bottom: 70px;
        img{
            object-fit: contain;
            cursor: pointer;
        }
    }
    &-text{
        @include ptSans(400);
        font-size: $regFz;
        line-height: 30px;
        h3{
            margin: 0 0 30px;
            font-weight: 400 !important;
        }
    }
}
@media screen and (max-width: $tablet) {
    .delivery{
        @include template(0px, 26px);
        h1{
            margin: 0;
        }
        &-icons{
            @include flex-column(column);
            align-items: center;
            border: none;
            padding: 0;
            margin-bottom: 13px;
            img{
                margin-bottom: 52px;
            }
        }
    }
}
@media screen and (max-width: $mobile) {
    .delivery{
       .delivery-text{
           font-size: $mini;
       }
    }
}
