#btnMain{
    a{
        text-decoration: none;
        color: #fff;
    }
}
.slide-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
        text-align: center;
    }
    img{
        object-fit: cover;
    }
}
.home-baner{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 30px;
    img{
        object-fit: contain;
    }
    .baner-block{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: $paleblue;
        padding: 55px 0;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        @include ptSans(700);
        h1{
            margin: 0 0 50px;
            font-size: 50px;
        }
        h2{
            margin: 0 0 20px;
            font-size: 30px;
        }
        h3{
            margin: 0 0 70px;
            font-size: 20px;
        }
        button{
            margin: 0 100px;
            padding: 20px 25px;
            font-size: $regFz + 2px;
            cursor: pointer;
        }
    }
}
.home-conveyor{
    margin-top: 50px;
    &:last-child{
        margin-bottom: 80px
    }
    .home-slider{
        .img-container{
            width: 300px;
            height: 300px;
            img{
                object-fit: cover;
                height: 100%;
            }
        }
        h1{
            margin: 0 0 45px;
        }
        .slide-title{
            @include ptSans(400);
            font-size: $regFz - 2px;
            margin: 20px 0 10px;
        }
        .slide-price{
            @include ptSans(700);
            font-size: $regFz + 4px;
            color: $palepurpp;
        }
    }
}
.sale-baner{
    display: flex;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    height: 516px;
    @include ptSans(700);
    img{
        object-fit: cover;
        height: 100%;
    }
    .baner{
        background-color: $paleblue;
        padding: 63px 0;
        display: flex;
        flex-direction: column;
        width: 368px;
        h1{
            margin: 0;
            font-size: 36px;
        }
        &-title{
            text-align: center;
            margin-bottom: 30px;
        }
        span{
            font-size: 36px;
        }
        &-sale{
            text-align: center;
            .sale-was{
                text-decoration: line-through;
                font-size: $regFz + 6px;
                margin-bottom: 20px;
            }
            .sale-now{
                font-size: 50px;
                margin-bottom: 80px;
            }

        }
        button{
            padding: 20px 40px;
            @include ptSans(700);
            margin: 0 80px;
            font-size: $regFz + 2px;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}
