#btnMain{
    a{
        text-decoration: none;
        color: #fff;
    }
}
.slide-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
        text-align: center;
    }
    img{
        object-fit: cover;
    }
}
.home-baner{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 30px;
    &:first-child{
        height: 600px;
    }
    >img{
        object-fit: contain;
        width: 100%;
        height: 100%;
        @media screen and (max-width: 1370px) {
            object-fit: cover;
        }
    }
    .baner-block{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: $paleblue;
        padding: 55px 0;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        width: 460px;
        @include ptSans(700);
        h1{
            margin: 0 0 50px;
            font-size: 50px;
        }
        h2{
            margin: 0 0 20px;
            font-size: 30px;
        }
        h3{
            margin: 0 0 70px;
            font-size: 20px;
        }
        button{
            margin: 0 100px;
            padding: 20px 25px;
            font-size: $regFz + 2px;
            cursor: pointer;
        }
    }
}
.home-conveyor{
    margin-top: 50px;
    &:last-child{
        margin-bottom: 80px
    }
    .home-slider{
        .img-container{
            width: 300px;
            height: 300px;
            @media screen and (max-width: 1400px) {
                width: 250px;
            }
            @media screen and (max-width: 1200px) {
                width: 200px;
            }
            img{
                object-fit: cover;
                height: 100%;
            }
        }
        h1{
            margin: 0 0 45px;
        }
        .slide-title{
            @include ptSans(400);
            font-size: $regFz - 2px;
            margin: 20px 0 10px;
        }
        .slide-price{
            @include ptSans(700);
            font-size: $regFz + 4px;
            color: $palepurpp;
        }
    }
}
.sale-baner{
    display: flex;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    height: 516px;
    margin-top: 80px;
    @include ptSans(700);
    img{
        object-fit: cover;
        height: 516px;
        width: 516px;
    }
    .baner{
        background-color: $paleblue;
        padding: 63px 0;
        display: flex;
        flex-direction: column;
        width: 368px;
        @media screen and (max-width: 1220px) {
            width: 300px;
        }
        h1{
            margin: 0;
            font-size: 36px;
            @media screen and (max-width: 1220px) {
                font-size: 28px;
            }
        }
        &-title{
            text-align: center;
            margin-bottom: 30px;

        }
        span{
            font-size: 36px;
            @media screen and (max-width: 1220px) {
                font-size: 28px;
            }
        }
        &-sale{
            text-align: center;
            .sale-was{
                text-decoration: line-through;
                font-size: $regFz + 6px;
                margin-bottom: 20px;
            }
            .sale-now{
                font-size: 50px;
                margin-bottom: 80px;
                @media screen and (max-width: 1220px) {
                    font-size: 35px;
                }
            }

        }
        button{
            padding: 20px 40px;
            @include ptSans(700);
            margin: 0 80px;
            font-size: $regFz + 2px;
            @media screen and (max-width: 1220px) {
                margin: 0 45px;
                width: 200px;
                font-size: $regFz - 2px;
            }
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .home-baner{
        &:not(:first-child){
            margin: 0px 0 75px;
        }
        &:first-child{
            margin: 0px 0 150px;
        }
        padding-top: 0;
        .baner-block{
            padding: 55px 0 0;
            transform: translate(-50%, 17.3%);

            h1{
                font-size: 36px;
            }
            h2{
                font-size: 24px;
            }
            button{
                margin: 0;
                width: 100%;
                font-size: $regFz;
            }
        }
    }
    .home-conveyor{
        .home-slider{
            .carousel-mobile{

            }
            .slide-title{
                width: 174px
            }
            .slide-price{
                width: 174px
            }
        }
    }
    .sale-baner{
        margin: 75px 0 30px;
        height: 100%;
       @include flex-column(column-reverse);
        justify-content: space-between;
        img{
            object-fit: cover;
            width: 100%;
            height: 400px;
        }
        .baner{
            width: 100%;
            button{
                width: 100%;
            }
        }
        .baner-sale{
            .sale-now{
                margin-bottom: 30px;
            }
        }
    }
    .sale-baner, .fl-reverse{
        margin-bottom: 0px
    }
    .wrap-img{
        img{
            object-fit: cover;
            width: 100%;
        }
        button{
            margin: 0;
            width: 100%;
            font-size: $regFz;
            height: 48px;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .home-baner{
        .baner-block{
            width: 380px;
            transform: translate(-50%, 14%);
            h1{
                font-size: 27px;
            }
            h2{
                font-size: 21px;
            }
            h3{
                font-size: 19px;
                margin-bottom: 45px;
            }
            button{
                font-size: $tiny;
                padding: 0;
            }
        }
    }
    .home-conveyor{
        .home-slider{
            .carousel-mobile{
            }
            .slide-title{
                width: 174px
            }
            .slide-price{
                width: 174px
            }
        }
    }
    .sale-baner{
        margin: 65px 30px;
        @include flex-column(column-reverse);
        img{
            height: 400px;
        }
        .baner{
            width: 100%;
            h1{
                font-size: 22px;
                margin-bottom: 8px;
            }
            span{
                font-size: 21px;
            }
        }
        .baner-sale{
            .sale-now{
                margin-bottom: 0;
                font-size: 31px;

            }
        }
    }
    .sale-baner, .fl-reverse{
        margin-bottom: 0px
    }
    .wrap-img{
        button{
            height: 40px;
        }
    }
}
