.pay{
    @include margins-template(0, 270px, 100px);
    @media screen and (max-width: 1170px) {
        @include margins-template(0, 100px, 100px);
    }
    h1{
        margin-top: 80px;
    }
    a{
        text-decoration: none;
        color: $palepurpp;
    }
    h2{
        font-size: $bigFz + 2px;
        margin: 50px 0;
        @include ptSans(700);
        text-align: center;
        text-transform: uppercase;
    }
    &-icons{
        @include flexin(space-between);
        @include border(top, 3px, $palepurpp);
        @include border(bottom, 3px, $palepurpp);
        img{
            object-fit: contain;
            height: 155px;
            width: 191px;
        }
    }
    &-text{
        @include ptSans(400);
        font-size: $regFz;
        line-height: 2;
        &:nth-child(4){
            margin-top: 50px;
        }
    }
    //.pay-text{
    //    &:nth-child(4){
    //        margin-top: 30px;
    //    }
    //}
}
@media screen and (max-width: $tablet) {
    .pay{
        @include template(0px, 26px);
        h1{
            margin: 0;
        }
        &-icons{
            @include flex-column(column);
            align-items: center;
            border: none;
            img{
                margin-bottom: 25px;
            }
        }
        &-text{
            font-size: $mini;
        }
    }
}
