.pay{
    @include margins-template(0, 270px, 100px);
    h1{
        margin-top: 80px;
    }
    h2{
        font-size: $bigFz + 2px;
        margin: 50px 0;
        @include ptSans(700);
        text-align: center;
        text-transform: uppercase;
    }
    &-icons{
        @include flexin(space-between);
        @include border(top, 3px, $palepurpp);
        @include border(bottom, 3px, $palepurpp);
        img{
            object-fit: contain;
        }
    }
}
