.pay-success{
    h1{
        @include ptSans(700);
        font-size: 40px;
        text-align: center;
    }
    &-number{
        color: $palepurpp;
    }
    &-text{
        @include ptSans(400);
        margin: 0 0 100px;
        font-size: $bigFz + 4px;
        text-align: center;
    }
}
@media screen and (max-width: $tablet) {
    .pay-success{
        h1{
            font-size: 24px;
        }
        &-text{
            margin-bottom: 47px;
        }
    }
}
@media screen and (max-width: $mobile) {
    .pay-success{
        &-text{
            font-size: $mini;
        }
    }
}
